* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --primary: #00bf98;
  --grey: #d8d8d8;
  --grey2: #abb0b6; }

body {
  background-color: white;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 52.5%;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
