@import "../../style.scss";
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // flex: 1 1 auto;
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: 0rem 0rem 2rem 0rem var(--grey);
  &__row {
  }

  &__logo {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
    border-radius: 50%;
    background-image: url("/belatrixlogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 35rem;
    margin: 1rem 0;
    &__item {
      @extend %noLink;
    }
  }
}

@media (max-width: 930px) {
  .header {
    min-height: 20vh;
    font-size: 1.6rem;
  }
}
